@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/utilities';
@use '@carbon/react/scss/colors';
@use '@carbon/react/scss/type';

.page-grid {
  margin-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.tanstack-example {
  padding-bottom: 2rem;
}

// Sorting
.descending-sorting-icon {
  transform: rotate(180deg);
  transition: transform 200ms;
}

.sortable-button-header {
  color: $text-primary;
  width: 100%;
  padding-inline: 1rem;
  max-inline-size: none;

  @include type.font-weight('semibold');

  &.cds--btn--ghost:hover,
  &.cds--btn--ghost:active {
    color: $text-primary;
  }
}

.sortable-example.cds--data-table th {
  padding-inline: 0;
}

.sortable-example {
  padding-bottom: 2rem;
}

.ai-label-is-present {
  position: relative;
}

.ai-label-is-present .sortable-button-header svg {
  position: absolute;
  right: 2rem;
}

.ai-label-container {
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center;
  right: 0.5rem;
}

.custom-ai-header-wrapper {
  display: flex;
}

.cds--data-table thead th.ai-label-is-present .sortable-button-header,
.cds--data-table thead th.ai-label-is-present.ai-column,
td.ai-cell,
tr.ai-row {
  @include utilities.ai-table-gradient;
}

.cds--data-table td.ai-cell-select {
  padding-inline-end: 0;
}

.full-table-ai tbody {
  position: relative;
}

.full-table-ai tbody::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  // Prevents the pseudo element overlay from obstructing click on elements below the overlay
  pointer-events: none;
  /* stylelint-disable */
  background: linear-gradient(
    to top,
    var(--cds-ai-aura-start-sm, rgba(69, 137, 255, 0.16)) 0%,
    var(--cds-ai-aura-end, rgba(255, 255, 255, 0)) 50%,
    transparent 50%
  );
  /* stylelint-enable */

  // Full table gradient needs to start from bottom which isn't configurable from this mixin yet
  // @include utilities.ai-table-gradient;
}
