@use '@carbon/ibm-products/css/index';
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/utilities';
@use '@carbon/react/scss/colors';
@use '@carbon/react/scss/type';
@use '@carbon/type/scss/font-family';

.page-grid {
  margin-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.basic-table th,
.cds--data-table th:last-of-type {
  position: relative;
}

.tanstack-example {
  padding-bottom: 2rem;
}

// Flyout
.flyout--container {
  padding: 1rem;
}

.flyout--container .flyout--container__filters {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.flyout--label {
  @include type.type-style('body-compact-01');
  @include font-family.font-weight('semibold');

  padding-bottom: 1rem;
}

.filter-flyout-example .cds--popover-content {
  max-inline-size: 642px;
}

.filter-checkbox-group-label {
  @include type.type-style('label-01');

  color: $text-secondary;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.filter-flyout-button-set.cds--btn-set .cds--btn {
  max-width: none;
  width: 50%;
}

.tag-overflow-flyout-example {
  height: 48px;
  padding-left: 0.5rem;
}

.filter--summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flyout-dropdown-selected-item {
  text-transform: capitalize;
}

.measure-tags {
  position: absolute;
  overflow: hidden;
  inset-block-start: -100vh;
  inset-inline-start: -100vw;
  max-inline-size: 100vw;
  pointer-events: none;
  visibility: hidden;
  display: flex; // will force only single line overflow to be measured
}

.filter-overflow-popover {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $background-inverse;
  color: $text-inverse;
}

.filter--summary-tag-and-overflow-wrapper {
  display: flex;
  align-items: center;
}

.cds--data-table.empty-table-wrapper td,
.cds--data-table.empty-table-wrapper tbody th,
.cds--data-table.empty-table-wrapper tbody tr:hover td {
  border-block-end: 0;
}

.cds--data-table tbody.empty-table-body,
.cds--data-table tbody.empty-table-body tr:not([data-child-row]):hover,
.cds--data-table tbody.empty-table-body tr[data-child-row]:hover > td {
  background-color: transparent;
}

.cds--data-table td .empty-table {
  position: absolute;
  max-width: 265px;
}
