@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/utilities';
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@use '@carbon/type/scss/font-family';

:root {
  @include theme;
}

body {
  background-color: $background;
}

.page-grid {
  margin-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.tanstack-example {
  padding-bottom: 2rem;
}

.cds--tab-content.table-tab-panel {
  padding: 0;
}

.cds--data-table tbody {
  background: $layer-01;
}
