@use '@carbon/react/scss/spacing' as *;

.page-grid {
  margin-top: 4rem;
}

.cds--data-table-content {
  overflow: auto; //our scrollable table container
  position: relative; //needed for sticky header
  height: 600px; //should be a fixed height
}
