@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/utilities';
@use '@carbon/react/scss/colors';
@use '@carbon/react/scss/type';

.page-grid {
  margin-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
  position: relative;
}

.basic-table th,
.cds--data-table th:last-of-type {
  position: relative;
}

.cds--data-table th:first-of-type,
.cds--data-table td:first-of-type {
  padding-inline-start: 0.5rem;
}

.tanstack-example {
  padding-bottom: 2rem;
}

// Nested row
.row-expander {
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-expander .row-expanded-icon {
  transform: rotate(90deg);
  transition: transform 200ms;
}

.row-expander .cds--inline-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-expander .cds--inline-loading .cds--inline-loading__animation {
  margin-right: 0;
}

.row-expander .cds--inline-loading .cds--loading svg circle {
  fill: $layer-01;
}

.expand-spacer {
  padding-left: $spacing-08;
}

.row-content {
  flex: 1 0 auto;
  padding-left: 1rem;
  height: 3rem;
  align-content: center;
}

.border-line {
  content: '';
  position: absolute;
  bottom: -1px;
  left: -0.5rem;
  height: 1px;
  background-color: var(--cds-layer, #f4f4f4);
}

.row-hovered .expansion-indicator {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 3.125rem;
  background-color: var(--cds-border-subtle-01, #c6c6c6);
  z-index: 1;
}
