@use '@carbon/react' with (
  $font-path: '@ibm/plex'
);
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/ibm-products/css/index';

body {
  margin: 0;
  padding: 0;
  margin-top: $spacing-10;
}
