@use '@carbon/ibm-products/css/index';
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/utilities';
@use '@carbon/react/scss/colors';
@use '@carbon/react/scss/type';

.page-grid {
  margin-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
}

.tanstack-example {
  padding-bottom: 2rem;
}

.right-align-cell {
  display: block;
  text-align: right;
}

.center-align-cell {
  display: block;
  text-align: center;
  width: 100%;
}
