@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/themes';

:root {
  @include theme(themes.$white);

  background-color: var(--cds-background);
  color: var(--cds-text-primary);
}


.ai-label-container {
  display: flex;
  align-items: flex-start;
  margin-block-end: $spacing-12;

  > * {
    margin-inline-start: $spacing-12;
  }
}

.ai-label-container-example.centered {
  align-items: center;
  justify-content: center;
  margin: 0;
  inline-size: calc(100vw - 84px);
}

p {
  @include type-style('body-compact-01');
}

.bold {
  font-weight: 600;
}

.secondary {
  color:  type-style('text-secondary');
}

.ai-label-heading {
  font-size: 2.625rem;
  font-weight: 300;
  margin-block-end: $spacing-05;
}

hr {
  border: 0;
  background: $border-subtle;
  block-size: 1px;
  margin-block: $spacing-07;
}